{% include 'site/header.html' %}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">About Us</h4>
		<p class="card-text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
			molestiae saepe atque debitis cumque ad inventore sint blanditiis
			autem tempora doloremque, itaque necessitatibus dolores quia
			consequuntur similique nam? Et, nulla.
		</p>
		<img
			class="card-img-top"
			src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg"
			alt="Title" />
	</div>
</div>

{% include 'site/footer.html' %}
